@import "./variables";


h2 {
  font-family: $font-family;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.keyword-h2 {
  font-size: 17px;
  color: $color-turquoise;
}

.title-h2 {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}
svg {
  fill: #63d1bb;
}

.wavy-line {

}

.text-depiction {
  font-family: $font-family;
  font-size: 15px;
  color: #444444;
  font-weight: regular;
}

.btn {
  font-family: $font-family;
  padding: 20px 85px 20px 85px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #444444;
}

